body {
    background-color: #DDDDDD;
    color: black;
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    font-size: 17px;
    font-weight: 300;
    margin: 0px 0px 0px 0px ;
}

.home{
    padding-top: 11%;
    background-image: url(../img/tm-bg-1.jpeg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    height: auto;
    -webkit-transform: translateX(0);
    transform: translateX(0);

  
  
}
.about{
    background-image: url(../img/tm-bg-5.jpeg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    height: auto;
    -webkit-transform: translateX(0);
    transform: translateX(0);

  
  
}
.contact{
    padding-top: 11%;
    background-image: url(../img/tm-bg-6.jpeg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  
  
}


/* First */
.first{
    padding-top: 15%;
    background-image: url(../img/tm-bg-2.jpeg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    height: auto;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  
}

.firsthov:hover .firstp {
    opacity: 1;
    -webkit-transform: translate3d(0,0,0) scale(1);
    transform: translate3d(0,0,0) scale(1);
}
.firsthov:hover .firsth2{
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}
.firsthov:hover .firstimg{
    opacity: 0.2; 
    -webkit-transform: scale(1);
    transform: scale(1);
}
.firstimg{
    opacity: 0.7;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: scale(1.15);
    transform: scale(1.15);
}
.firsthov .firsth2{
    -webkit-transition: -webkit-transform 0.35s;
    transition: transform 0.35s;
    -webkit-transform: translate3d(0,20px,0);
    transform: translate3d(0,20px,0);
}
.fir:hover{
    background-color: #17819c;
    opacity: 0.8;

}
/*  */
.secund{
    padding-top: 15%;
    background-image: url(../img/tm-bg-3.jpeg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    height: auto;
    -webkit-transform: translateX(0);
    transform: translateX(0);
}
/* /////// */
.third{
    padding-top: 15%;
    background-image: url(../img/tm-bg-4.jpeg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    height: auto;
    -webkit-transform: translateX(0);
    transform: translateX(0);
}
